/*h1 {
    text-align: center;
    color: red ;
}
h3 {
    color: green;
}
span#creationData {
    font-size: 20px;color: grey;

}
article#personal {
margin-top: 50px;
margin-bottom: 10 px;
margin-left: 15px;
margin-right: 15px;
}
ul {
    list-style-type: circle;
}
article#divId {
    font-size: 50px;
    color:red;
}

article.divClass {
    font-size: 50px;
    color: blue;
}
li {
display: inline;
list-style: none;
border: 5px solid red;
width: 200px;
height:50px;
}
text-align: center;
color: blue;
font-size: 20px;
text-transform: uppercase;

*{margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
    color: red;
    font-size: 20px;
text-transform: uppercase;


} */

* {
margin: 0;
padding: 0;
box-sizing: border-box;

body {
    color: blue;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    background-image: url('https://www.google.com/search?q=%D0%BA%D0%BE%D1%82%D0%B8%D1%89%D0%B5&client=ubuntu&hs=DCI&channel=fs&sxsrf=ALeKk01vP1fshy7eL8KxNQXYJj3rMvlFyw:1605433838976&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjoyrqNo4TtAhUUi8MKHXS1DnMQ_AUoAXoECAsQAw&biw=1674&bih=941#imgrc=MILFmpwETxQnCM');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
border: 1px solid blue;
}
#banner p {
    font-size: 20px;
}
#banner a {
    border: 1px solid grey;
    padding: 5px;
    margin: 2px;
    color: blueviolet;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
}

#banner a:hover {
    background-color: aqua;
    color: red;
    
}
}
